<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Calendar</title>
	<script type="text/javascript" src="{% static 'vendor/extensible/Extensible-config.js' %}"></script>
	<script type="text/javascript" src="{% static 'cal/app.js' %}"></script>
</head>
<body>

<!-- <input type="hidden" id="userid" value="{{ userCalId }}">
 -->
<div id="calbox" style="width:600px; height:400px;"></div>
<span id="app-msg" class="x-hidden"></span>

<br>
<div id="message">
</div>
<br>
<form id="addCalForm">
	{% csrf_token %}
	<input type="text" name="title" placeholder="Title" />
	<input type="text" name="description" placeholder="Description"/>
	<input type="submit" value="Add calendar"/><br><br>
</form>

<form id="logoutForm">
	{% csrf_token %}
	<input type="submit" id="logoutButton" value="Logout" />
</form>
<div id='user'>
	{{ user.username }}
</div>

<form id="loginForm">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username" /><br>
	<input type="password" name="password" placeholder="Password" /><br>
	<input type="submit" value="Login"/><br><br>
</form>

<form id="registerForm">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username" /><br>
	<input type="text" name="email" placeholder="Email"/><br>
	<input type="password" name="password" placeholder="Password" /><br>
	<input type="password" name="confirm_password" placeholder="Confirm password" /><br>
	<input type="submit" value="Register"/><br><br>
</form>

<script src="{% static 'cal/login.js' %}" type="text/javascript"></script>
<script src="{% static 'cal/logout.js' %}" type="text/javascript"></script>
<script src="{% static 'cal/register.js' %}" type="text/javascript"></script>
<script src="{% static 'cal/add_cal.js' %}" type="text/javascript"></script>

{% if user.username %}
<script>
	Ext.fly("loginForm").hide();
	Ext.fly("registerForm").hide();
</script>

{% else %}
<script>
Ext.fly("logoutForm").hide();
Ext.fly("addCalForm").hide();
</script>

{% endif %}




</body>
</html>