<form id="myForm" method="POST">
	{% csrf_token %}
	<label>Username: <input type="text" name="username" /></label>
	<label>Password: <input type="password" name="password" /></label>
	<input type="submit" value="Login"/>
</form>

<script>

Ext.fly("myForm").on("submit", function(event, element){
	event.preventDefault();
	Ext.Ajax.request({
		form: element,
		url: '/login/',
		success: function(response) {
			console.log("Success", response);
			document.getElementById("user").innerHTML = response.responseText;
		},
		failure: function(response) {
			console.log("Failure", response);
		}
	});
});


</script>